################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xConsole_screen/CopilotIndices/17.12.38.29086
/.vs/xConsole_screen/FileContentIndex
/.vs
/Solution.Screen/Screen/.vs/Screen
/Solution.Screen/Screen/ConApp/obj
/Solution.Screen/Screen/Logic/obj
/Solution.Screen/Screen/ScreenUnitTest/bin
/Solution.Screen/Screen/ScreenUnitTest/obj
/Solution.Screen/Controller/Solution.Controller/.vs
/Solution.Screen/Controller/Solution.Controller/ConApp/bin/Debug/net9.0
/Solution.Screen/Controller/Solution.Controller/ConApp/obj
/Solution.Screen/Screen/ConApp/bin/Debug/net9.0
/Solution.Screen/Screen/.vs/ProjectEvaluation
/Solution.Screen/Screen/Logic/bin/Debug/net9.0
/Solution.Module/BoxCharifyer/.vs/BoxCharifyer
/Solution.Screen/Doku/.vs/Doku
/Solution.Module/BoxCharifyer
/Solution.Module/BoxComposer/.vs
/Solution.Module/BoxComposer/ConApp/obj
/Solution.Module/BoxComposer/Common/obj
/Solution.Module/BoxComposer/ConApp/bin/Debug/net9.0
/Solution.Module/BoxComposer/Logic/obj
/Solution.Module/BoxComposer/UnitTests/obj
